/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: initial;
    background-color: initial;
    color: inherit;
    font: inherit;
    outline: none; /* Still need's to create a visual indicator for the focus state */
}

/* KEYFRAMES */
@keyframes fade-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-from-left {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* GLOBAL STYLE */

.app {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #fff;
    height: 100vh;
    width: 100vw;
}

.app__container {
    height: calc(100vh - 55px);
    display: flex;
}

/* STYLES */

.header {
    background-image: linear-gradient(to right, #18A0B3, #622DB9);
    height: 55px;
    display: flex;
}

.logo {
    align-self: center;
    margin-left: 20px;
    margin-right: 30px;
    animation: fade-in-from-top 0.5s;
}

.dd-toggle {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 13px;
    cursor: pointer;
    transition: all 0.4s;
    animation: fade-in-from-top 0.5s;
}

.dd-toggle:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
}

.dd-toggle:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07);
}

.dd-toggle:nth-of-type(4) {
    margin-left: auto;
}

.dd-toggle:last-child {
    display: flex;
    align-items: center;
}

.dd-toggle__icon {

}

.dd-toggle__img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 7px;
}

.dd-toggle__text {

}

/* ----------------- */

.sidebar {
    background-color: #10171a;
    width: 75px;
    display: flex;
    flex-direction: column;
}

.menu {

}

.menu__button {
    padding: 19px 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 0.4s;
    animation: fade-in-from-left 0.5s;
}

.menu__button:hover {
    background-color: #2b363b;
    color: #fff;
    cursor: pointer;
}

.menu__button:focus {
    background-color: #2b363b;
    color: #fff;
    cursor: pointer;
}

.menu__button--active {
    background-color: #2b363b;
    color: #fff;
}

.menu__button--active::before {
    content: '';
    width: 3px;
    height: 100%;
    background-color: #375bb6;
    position: absolute;
    left: 0;
    top: 0;
}

.menu__icon {
    font-size: 18px;
    margin-bottom: 3px;
}

.menu__text {
    font-weight: 500;
    font-size: 20px;
}

.footer{
    margin-top: auto;
    ;
    margin-bottom: 60px;
    transform: rotate(-90deg);
}

.copyright {
    color: rgba(255, 255, 255, 0.15);
    font-size: 12px;
    white-space: nowrap;
}

/* ----------------- */

.panel {
    background-color: #2b363c;
    width: 350px;
}

/* ----------------- */

.main {
    background-color: #edf1f3;
    flex: 1;
}

/* ----------------- */
